.imageGroup img {	
	margin: 0 auto;
    max-width: 20%;
	display: inline-flex;
	align-items: center;
    justify-content: center;
	padding: 15px;
}

h3.center {
	display: block;
	align-items: center;
    justify-content: center;
}