#carousel ul {
	max-Width:100%;
	list-style: none;
	text-align: center;
	display: flex;				/* 是把当前元素设置为一个Flexbox */
    align-items: center;		/* 在Flexbox中沿交叉轴对齐项目 */
    justify-content: center;	
}

#carousel img {	
	display: inline-flex;
	flex-direction: column;
	padding: 20px;
}