
/* CSS comment */

/* Styling the page */
html { 
    color: rgba(206, 214, 224,1.0);
    font-family: Helvetica, "Times New Roman",Arial, Georgia, Times, serif;
    font-size: 1.15em;
    max-width: 100%;
    line-height: 1.8;
    letter-spacing: 0.08em;
    background-color: rgba(71, 63, 52,1.0);
    background-image: url(../images/oleg-magni.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;	
}

/* Styling the body */
body {
	  width: 100%;
    height: 100%;
    margin: 0px auto;
    font-size: normal;
    border-radius: 5px;
}

main {
  margin-top: 70px;
  margin-bottom: 100px; 
  padding: 0 20px;
  text-align: center;
}

main#iosdev,#resource,#webdev,#bigpicture,#aboutme, #cheatsheet{
  text-align: left;
}
 

nav {
    text-align: center;
    width: 100%;
    padding: 10px 5px 5px 5px;
    background-color: rgba(71, 63, 52,0.8);
    /*border-bottom: 0.1em ridge;*/
    position: fixed;
    top: 0;
    display: block;
    scroll-behavior: smooth;
}

nav a:link, a:visited {
    color: whitesmoke;
    padding: 0em 1em 0em 1em;
    border-radius: 5px;
}

nav a:hover, a:active {
    text-decoration: none;
    color:rgba(30, 39, 46,1.0);
    background-color: whitesmoke;
}


article article {
  /*font-size: 15px;*/
  color: rgba(206, 214, 224,1.0);
  margin: 3px;
}

article article p {
  color: gray;
}


/* Positioning and styling the main page title */
h1 {
    display: none;
    color: rgb(0, 140, 255);
    /*font-size: 30px;*/
    text-align: center;
    text-shadow:2px 2px 1px orange; /* horizontal offset, vertical offset, blur radius, base color*/
    padding-top: 8px;
}

h2 {
  color:rgba(255, 159, 26,1.0);
  text-align: center;
}

h3 {
  padding: 5px;
  color: rgba(255, 159, 26,1.0);
}

a:link, a:visited {
    text-decoration: none;
    text-align: center;
    color: rgba(24, 220, 255,1.0);
    padding-right: 5px;
    display: inline-block;
  }
  
a:hover, a:active { 
  text-decoration: underline;
  color:rgba(255, 159, 26,1.0);
}

p#topic a {
  display: block;
  line-height: 3rem;
}

/* Centering the image */
img {
    display: block;
  	margin: 0 auto;
    max-width: 30%;
    padding: 5px;
    border-radius: 15px;
}


footer {
  color: whitesmoke;
  background-color: rgba(71, 63, 52,0.8);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
}

footer span {
  font-size: 20px;
}

main#cheatsheet li {
  display: inline-block;
  padding-right: 2.5em;
}




