/*Table*/

caption {
    padding: 25px;
    font-size: 1.5em;
    font-weight: bold;
    caption-side: top;
}

table {
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    border: 0.05em ridge ghostwhite;
    float: center;
    /*box-shadow: 2px -2px 2px;*/
}

th,td {
    border: 0.05em ridge whitesmoke;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

th {
    color: whitesmoke;
    font-weight: bold;
}